emacs/.config/emacs/elpa/*
emacs/.config/emacs/tutorial/
fish/.config/fish/conf.d/
emacs/.config/emacs/share/eclipse.jdt.ls/*
yazi/.config/yazi/flavors/
yazi/.config/yazi/plugins
emacs/.config/emacs/share/
lazy-lock.json
emacs/.config/emacs/elpy/*
eglot-java-eclipse-jdt-cache/
emacs/*/elpa/
fish_variables/
emacs/.config/emacs/elpaca/
eln-cache/
.cache/
elpy
emacs/.config/emacs/share/
transient
tree-sitter
waybar/.config/waybar/scripts/clave.txt
fish/.config/fish/themes
emacs/.config/emacs/recentf
emacs/.config/emacs/plugins/organizer.el
emacs/.config/emacs/auto-save-list/
emacs/.config/emacs/eshell/*
emacs/.config/emacs/games/*
emacs/.config/emacs/projectile-bookmarks.eld
emacs/.config/emacs/share/junit-platform-console-standalone/
emacs/.config/emacs/tramp
emacs/.config/emacs/config.el
emacs/.config/emacs/history
emacs/.config/emacs/.lsp-session-v1/
emacs/.config/emacs/.cache/
emacs/.config/emacs/.dap-breakpoints/
emacs/.config/emacs/eclipse.jdt.ls/*
emacs/.config/emacs/workspace/*
emacs/.config/emacs/projects/*
emacs/.config/emacs/tldr/*
emacs/.config/emacs/elpaca/
yazi/.config/yazi/package.toml
emacs/*/emacs/.lsp-session-*
emacs/tramp
emacs/.config/emacs/projectile-bookmarks.eld
emacs/.config/emacs/.lsp-session-*
emacs/.config/emacs/url/*
emacs/.config/emacs/emms/*
