fish/.config/fish/conf.d/
yazi/.config/yazi/flavors/
yazi/.config/yazi/plugins
lazy-lock.json
fish_variables/
waybar/.config/waybar/scripts/clave.txt
fish/.config/fish/themes
emacs/.config/emacs/*
emacs/.config/emacs/README.org
emacs/.config/emacs/init.el