@import 'colors.css';
* {
    font-family: "Google Sans Flex";
}
window {
  border-radius: 0;
  opacity: 0.89;
  border: 2px solid @primary;
}
window#osd {
  padding: 12px 20px;
  border-radius: 40px;
  /*border: none;*/
  background: @background;
   min-width: 120px;   /* ancho más largo */
}
  #container {
    margin: 16px;
  }
  image,
  label {
    color: @on_surface;
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar {
    min-height: 6px;
    min-width: 120px;
    border-radius: 78px;
    background: transparent;
    border: none;
  }
  trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: @inverse_on_surface;
  }
  progress {
    min-height: inheoit;
    border-radius: inherit;
    border: none;
    background: @primary;
  }

