@import 'mocha.css';
window#osd {
  padding: 12px 20px;
  border-radius: 999px;
  border: none;
  background: @base;
}
  #container {
    margin: 16px;
  }
  image,
  label {
    color: @text;
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
  }
  trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: @surface0;
  }
  progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: @blue;
  }

