@import url("../../colors.css");

window#waybar {
    background-color: transparent;
}

window > box {
    background-color: transparent;
    margin: 8px 8px 0px 8px;
    padding: 0px 10px;
    color: @text;
}

* {
    font-family: "Gabarito Medium", FontAwesome, Roboto, IPAMincho;
    font-size: 11.5px;
    padding: 0;
    border-radius: 20px;
}

#custom-space {
    background-color: transparent;
    margin: 0px 20px;
    padding: 0;
}

#workspace_block {
    background-color: @background;
    border-radius: 20px;
    margin: 6px 2px;
    padding: 0px 5px;
}
#visualizer {
    background-color: @background;
    margin: 6px 2px;
    padding: 0px 5px;
}
#workwindow {
    background-color: @background;
    border-radius: 20px;
    margin: 6px 2px;
    padding: 0px 5px;
}

#window {
    background-color: @background;
    border-radius: 20px;
    padding: 0px 15px;
    /*margin: 6px 30px;*/
    color: @text;
}

.modules-left, .modules-center {
    background-color: transparent;
}

.modules-right {
    background-color: @background;
    border-radius: 20px;
    padding: 0px 8px;
    margin: 6px 30px;
    margin-left: 0;
    margin-right: 0;
}

#cpu,
#memory,
#disk,
#custom-updates,
#pulseaudio,
#clock,
#pownet,
#tray,
#workspaces,
#bluetooth.connected,
#custom-spotify,
#network,
#network.linked,
#network.ethernet,
#custom-hypridle,
#network.wifi {
    background-color: @surface_container;
}

#custom-launcher {
    margin: 6px 2px;
    font-size: 16px;
    color: @on_primary_container;
    padding: 0px 5px 0px 10px;
}

#custom-hypridle {
    background-color: @surface_container;
    border-radius: 100px;
    padding: 0px 10px;
    margin: 6px 2px;
}

#custom-three-dots-seperator {
    color: @inverse_background;
    margin: 6px 2px;
    padding: 0px 5px;
}

#cpu {
    color: @invert_surface;
    border-radius: 100px;
    padding: 0px 10px;
    margin: 6px 2px;
}

#memory {
    color: @inverse_background;
    border-radius: 100px;
    padding: 0px 10px;
    margin: 6px 2px;
}

#disk {
    color: @invert_surface;
    border-radius: 100px;
    padding: 0px 10px;
    margin: 6px 2px;
}

#mpris {
    color: @invert_surface;
    border-radius: 100px;
    padding: 0px 10px;
    margin: 6px 0px;
    padding-right: 0px;
    margin-right: 0px;
}

#mpris.close {
    margin: 0px;
}

#workspaces {
    border-radius: 100px;
    margin: 6px 2px;
    padding: 0px 3px;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-right: 0em;
    color: @on_surface;
    background-color: transparent;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @primary_container;     /* fondo rosado oscuro */
    color: @on_primary_container;       /* texto claro sobre el fondo activo */
    margin-left: 0.3em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-right: 0.3em;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    background: @surface_container_high; /* gris medio que resalta sin romper armonía */
    color: @on_surface;                  /* texto bien visible al hacer hover */
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}


#workspaces button.urgent {
    color: @error_container;
}

#workspaces button.empty {
    color: @text;
}

#workspaces button:hover {
    color: @primary;
}

#pownet {
    color: @text;
    border-radius: 100px;
    padding: 0px 10px;
    margin: 6px 2px;
}

#battery {
    margin-left: 2px;
    margin-right: 10px;
}

#network {
    font-size: 11px;
    color: #ffffff;
    margin-right: 5px;
}

#bluetooth { 
    margin-right: 6px;
    font-size: 10px;
    color: #7dc4e4;
}

@keyframes blink {
    to {
        color: #a6da95;
    }
}

#battery.charging {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio {
    color: @text;
    border-radius: 100px;
    padding: 0px 10px;
    margin: 6px 2px;
}

#custom-updates {
    color: @text;
    border-radius: 100px;
    padding: 0px 10px;
    margin: 6px 2px;
}

#clock {
    color: @inverse_background;
    border-radius: 100px;
    padding: 0px 10px;
    margin: 6px 2px;
}

#custom-power-button {
    color: @red;
    padding: 0px 10px;
    margin: 6px 2px;
}

#tray {
    margin: 4px 2px;
    padding: 8px 8px;
    border-radius: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @surface_container;
}

#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#cava {
    background-color: @surface_container;
    color: @primary;
    border-radius: 100px;
    padding: 0px 10px;
    margin: 6px 2px;
}

#backlight,
#custom-weather {
    background-color: @surface_container;
    border-radius: 100px;
    padding: 0px 10px;
    margin: 6px 2px;
}

#custom-notification {
    background-color: @surface_container;
    border-radius: 100px;
    padding: 0px 6px;
    margin: 6px 2px;
}
tooltip {
  background: @surface;
  border: 1px solid @tertiary;
  border-radius: 12px;
}
tooltip label {
  color: @on_surface;
  padding: 6px;
}
