configuration {
    modi: "run,window,combi,drun";
    icon-theme: "Papirus-Dark";
    show-icons: true;
    font: "Rubik Nerd Font 13";
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    display-drun: " Aplicaciones:";
    hide-scrollbar: true;
    sidebar-mode: false;
}

@theme "catppuccin-mocha"
