[Desktop Entry]
Name=WorldBox - God Simulator
Comment=Play this game on Steam
Exec=steam steam://rungameid/1206560
Icon=steam_icon_1206560
Terminal=false
Type=Application
Categories=Game;
