@import "colors.css";
window#waybar {
	background-color: transparent;
}

window > box {
	background-color: @background;
	margin: 8px 8px 0px 8px;
	padding: 0px 10px;
}
* {
	font-family: "Gabarito Medium", FontAwesome, Roboto, IPAMincho;
	/*font-weight: 400;*/
	font-size: 12px;
	padding: 0;
	border-radius: 20px;
}

 

.modules-left, .modules-center, .modules-right {
	
}
#cpu,
#memory,
#disk,
#custom-updates,
#pulseaudio,
#workspaces,
#clock,
#pownet,
#tray,
#custom-updates
#bluetooth.connected,
#custom-spotify,
#network,
#network.linked,
#network.ethernet,
#custom-hypridle,
#network.wifi{
    background-color: @surface_container;
}

#custom-launcher {
	margin: 6px 2px;
	font-size: 16px;
	color: @on_primary_container;
	padding: 0px 5px 0px 10px;
}
#custom-hypridle {
	background-color: @surface_container;
	border-radius: 100px;
        padding: 0px 10px;
        margin: 6px 2px;
}
#custom-three-dots-seperator {
	color: @inverse_background;
	margin: 6px 2px;
	padding: 0px 5px;
}

#cpu {
	color: @on_surface;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 2px;
}

#memory {
	color: @on_surface;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 2px;
}

#disk {
	color: @on_surface;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 2px;
}

#mpris {
	color: @on_surface;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 0px;
	padding-right: 0px;
	margin-right: 0px;
}

#mpris.close {
	margin: 0px;
}

#workspaces {
	border-radius: 100px;
	margin: 6px 2px;
	padding: 0px 9px;
	color: @on_surface
}

#workspaces button {
	color: @secondary;
	padding: 0px 4px;
}

#workspaces button.active {
	color: @primary;
}

#workspaces button.urgent {
	color: @error_container;
}

#workspaces button.empty {
	color: @on_surface;
}

#workspaces button:hover {
	color: @primary;
}

#pownet {
	color: @on_surface;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 2px;
}

#battery{
	margin-left: 2px;
	margin-right: 10px;
}

#network {
	font-size: 11px;
	color: @on_surface;
	margin-right: 5px;
}

#bluetooth { 
	margin-right: 6px;
	font-size: 10px;
	color: #7dc4e4;
}

@keyframes blink {
    to {
	color: #a6da95;
    }
}

#battery.charging {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#pulseaudio {
	color: @on_surface;
	border-radius: 100px;
	padding: 0px 13px;
	margin: 6px 2px;
}
#custom-updates {
	color: @on_surface;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 2px;
}

#clock {
	color: @on_surface;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 2px;
}
#custom-power-button {
	color: @red;
	padding: 0px 10px;
	margin: 6px 2px;
}

#tray {
    margin: 5px 6px;
    padding: 5;
	
}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

tooltip {
    padding: 25px;
    background-color: @surface;
    color: @on_surface;
    border: 2px solid @tertiary;
    font-family: JetbrainsMono Nerd Font;
}
#backlight,
#custom-weather {
	background-color: @surface_container;
	border-radius: 100px;
        padding: 0px 10px;
        margin: 6px 2px;
}
tooltip label {
    padding: 15px;
    color: @on_surface;
}

label:focus {
    background-color: @surface;
}

