@import "mocha.css";

window#waybar {
	background-color: transparent;
}

window > box {
	background-color: @mantle;
	margin: 8px 8px 0px 8px;
	padding: 0px 10px;
	color: @text
}
* {
	font-family: "Gabarito Regular", FontAwesome, Roboto, IPAMincho;
	font-weight: 600;
	font-size: 11px;
	padding: 0;
	border-radius: 11px;
}

 

.modules-left, .modules-center, .modules-right {
	
}
#cpu,
#memory,
#disk,
#custom-updates,
#pulseaudio,
#workspaces,
#clock,
#pownet,
#tray,
#custom-updates
#bluetooth.connected,
#custom-spotify,
#network,
#network.linked,
#network.ethernet,
#custom-hypridle,
#network.wifi{
	background-color: @base;
}

#custom-launcher {
	margin: 6px 2px;
	font-size: 16px;
	color: @sapphire;
	padding: 0px 5px 0px 10px;
}
#custom-hypridle {
	background-color: @base;
	border-radius: 100px;
        padding: 0px 10px;
        margin: 6px 2px;
}
#custom-three-dots-seperator {
	color: @text;
	margin: 6px 2px;
	padding: 0px 5px;
}

#cpu {
	color: @text;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 2px;
}

#memory {
	color: @text;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 2px;
}

#disk {
	color: @text;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 2px;
}

#mpris {
	color: @text;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 0px;
	padding-right: 0px;
	margin-right: 0px;
}

#mpris.close {
	margin: 0px;
}

#workspaces {
	border-radius: 100px;
	margin: 6px 2px;
	padding: 0px 9px;
}

#workspaces button {
	color: @sapphire;
	padding: 0px 4px;
}

#workspaces button.active {
	color: @peach;
}

#workspaces button.urgent {
	color: @maroon;
}

#workspaces button.empty {
	color: @text;
}

#workspaces button:hover {
	color: @theme_selected_bg_color;
	background-color: @base;
}

#pownet {
	color: @text;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 2px;
}

#battery{
	margin-left: 2px;
	margin-right: 10px;
}

#network {
	font-size: 11px;
	color: #ffffff;
	margin-right: 5px;
}

#bluetooth { 
	margin-right: 6px;
	font-size: 10px;
	color: #7dc4e4;
}

@keyframes blink {
    to {
	color: #a6da95;
    }
}

#battery.charging {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio {
	color: @text;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 2px;
}

#custom-updates {
	color: @text;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 2px;
}

#clock {
	color: @text;
	border-radius: 100px;
	padding: 0px 10px;
	margin: 6px 2px;
}
#custom-power-button {
	color: @red;
	padding: 0px 10px;
	margin: 6px 2px;
}

#tray {
	margin: 5px 6px;
	padding: 5px 9px;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

tooltip {
    padding: 25px;
    background-color: @base;
    color: @text;
    font-family: JetbrainsMono Nerd Font;
}
#backlight,
#custom-weather {
	background-color: @base;
	border-radius: 100px;
        padding: 0px 10px;
        margin: 6px 2px;
}
tooltip label {
    padding: 15px;
    color: @text;
}

label:focus {
    background-color: @base;
}

