@import "colors.css";
* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: alpha(@background,0.6);
}
button {
    border-radius: 0px;
    border-color: transparent;
    margin: 20px;
    border-radius: 52px;
    text-decoration-color: #FFFFFF;
    color: @on_surface;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    animation: gradient_f 20s ease-in infinite;
}

button:focus, button:active, button:hover {
	background-color: @primary;
        color: @on_primary;
	outline-style: none;
}
button:focus {
    background-size: 25%;
}
button:hover {
    background-size: 25%;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}
#lock {
    background-image: image(url("./icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}


#shutdown {
    background-image: image(url("./icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
