@define-color text            @on_background;
@define-color background-alt  alpha(@surface, .4);
@define-color selected        @primary;
@define-color hover           alpha(@selected,.4);
@define-color urgent          @error;
* {
  color:            @primary;

  all: unset;
  font-size: 14px;
  font-family: "Google Sans Flex","GeistMono Nerd Font Propo";
  transition: 200ms;

}

/* Avoid 'annoying' backgroud */
.blank-window {  
  background: transparent;  
}
  
/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background: alpha(@background, .73);
  border-radius: 24px;
  border: 1px solid @primary;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.6);
  margin: 18px;
  padding: 12px;
  
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: alpha(@background,0.6);
  border-radius: 16px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @error;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: alpha(@primary, .6);
  color: @primary;
  border-radius: 12px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @primary;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @primary;
}

/* Buttons */

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 6px;
  color: @text;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @hover;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @selected;
}

progressbar,
progress,
trough {
  border-radius: 12px;
}

progressbar {
  background-color: @on_surface;
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;

}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @text;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @primary;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 4px; 
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}  

/* WIDGETS --------------------------------------------------------------------------- */

  /* Notification clear button */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background: @background-alt;
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @hover;
}

.widget-title button:active {
  background-color: @primary;
}

  /* Do not disturb */
.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @surface;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @secondary_container;
}

.widget-dnd > switch:checked {
  background: @primary;
}

.widget-dnd > switch:checked:hover {
  background: @primary_container;
}

.widget-dnd > switch slider {
  background: @on_background;
  border-radius: 6px;
}

  /* Buttons menu */
.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 5px;
  margin: 6px;
  border-radius: 12px;
  background: @background-alt;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @primary;
}


  /* Music player */
.widget-mpris {
    background: @background-alt;
    border-radius: 16px;
    color: @primary;
    margin:  20px 6px;
}

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
    background-color: transparent;
    border-radius: 22px;
    padding: 6px 14px;
    margin: 6px;
}

.widget-mpris > box > button {
  color: @on_background;
  border-radius: 20px;
}
 
.widget-mpris button {
  color: @on_background;
}

.widget-mpris button:hover {
  color: @primary;
}

.widget-mpris-album-art {
  border-radius: 16px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
    color: @on_background;
}
 
.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}


/* Volume Widget - Fixed */
.widget-volume {
  background: alpha(@surface, 0.3);
  color: @primary;
  padding: 20px 6px;
  margin: 6px;
  border-radius: 6px;
}

/* Volume scale/slider */
.widget-volume scale {
  padding: 0 8px;
  min-height: 40px;
}

.widget-volume scale trough {
  min-height: 8px;
  min-width: 100px;
  border-radius: 12px;
  background: alpha(@on_surface, .3);
}

.widget-volume scale highlight {
  border-radius: 16px;
  background: @primary;
}

.widget-volume scale slider {
  min-height: 13px;
  min-width: 18px;
  border-radius: 50%;
  background: @primary;
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  transition: min-height 0.3s ease, min-width 0.2s ease, background 0.2s ease;
}

.widget-volume scale slider:hover {
  background: @primary_container;
  min-height: 22px;
}

.widget-volume scale slider:active {
  min-height: 22px;
  min-width: 22px;
}
