/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┳┓┏┓┏┓┳
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┣┫┃┃┣ ┃
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┛┗┗┛┻ ┻
 *                             
 */


* {
    primary: #f4b2e3;
    primary-fixed: #ffd7f2;
    primary-fixed-dim: #f4b2e3;
    on-primary: #4d1f46;
    on-primary-fixed: #350830;
    on-primary-fixed-variant: #67355e;
    primary-container: #67355e;
    on-primary-container: #ffd7f2;
    secondary: #dbbed1;
    secondary-fixed: #f8daed;
    secondary-fixed-dim: #dbbed1;
    on-secondary: #3e2a39;
    on-secondary-fixed: #271623;
    on-secondary-fixed-variant: #564050;
    secondary-container: #564050;
    on-secondary-container: #f8daed;
    tertiary: #f5b9a4;
    tertiary-fixed: #ffdbcf;
    tertiary-fixed-dim: #f5b9a4;
    on-tertiary: #4c2618;
    on-tertiary-fixed: #321206;
    on-tertiary-fixed-variant: #663c2d;
    tertiary-container: #663c2d;
    on-tertiary-container: #ffdbcf;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #181216;
    surface-alpha: rgba(24, 18, 22, 0.7);
    on-surface: #ecdfe5;
    on-surface-variant: #d2c2cb;
    outline: #9b8d95;
    outline-variant: #4e444a;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #ecdfe5;
    inverse-on-surface: #362e33;
    inverse-primary: #824c77;
    surface-dim: #181216;
    surface-bright: #3f373c;
    surface-container-lowest: #120c10;
    surface-container-low: #201a1e;
    surface-container: #241e22;
    surface-container-high: #2f282c;
    surface-container-highest: #3a3337;
}
